<!DOCTYPE html>
{% load static %}
{% load range %}
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
    <title>ReAuthor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        var scale = Math.min(availableWidth / contentWidth, availableHeight / contentHeight);
    </script>
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <nav id="line1">
        <div>
            <img class="logo" src="{% static 'img/logofinal.svg' %}" width="86px" height="37px">
            <span class="search">
                <input class="searchInput" type="text">
                <img src="{% static 'img/searchBtn1x.png' %}" id="searchBtn">
                <!--검색아이콘-->
            <a href="{% url 'login' %}">
                <button class="MyPage">
                    <!--마이페이지-->
                    로그인
                    <!-- 마이페이지 링크 추가해야함 -->
            </button>
            </a>
            </span>
        </div>
    </nav>
    <!--구분선-->
    <nav class="navi2">
        <!--네비게이션-->
        <button id="nav2" class="nav2Btn1">홈</button>
        <button id="nav2" class="nav2Btn">작가이야기</button>
        <button id="nav2" class="nav2Btn">작품</button>
        <button id="nav2" class="nav2Btn">팬아트</button>
        <button id="nav2" class="nav2Btn"><a href="{% url 'upload1' %}">업로드</a></button>
    </nav>
    <div class="center">
        <div class="MainBox">
            <!--작가이야기-->
            <div class="childCon">
                <div>>작가이야기</div>
                <div class="authorContainer">
                    {% for j in 1|range:9 %}
                    <div id="authorInfo">
                        <img id="uploadIcon" src="https://uploads.disquscdn.com/images/dc368ebd907dfb3c40406ed0c842b10023f20651969cbd4bf77e524b3bf29ce7.jpg">
                        <span>작가님</span>
                    </div>
                    {% endfor %}
                    <br>
                </div>
                <div class="authorContainer">
                    {% for j in 1|range:9 %}
                    <div id="authorInfo">
                        <img id="uploadIcon" src="https://uploads.disquscdn.com/images/dc368ebd907dfb3c40406ed0c842b10023f20651969cbd4bf77e524b3bf29ce7.jpg">
                        <span>작가님</span>
                    </div>
                    {% endfor %}
                    <br>
                </div>
            </div>

            <div class="childCon">
                <div>>팬아트</div>
                <div class="authorContainer">
                    {% for j in 1|range:5 %}
                    <div class="contentSet">
                        <a href="#" class="contentBox">
                            <img src="{% static 'img/thumbnail.png' %}">
                        </a>
                        <div class="contentText">
                            <a id="title">유미의 세포들</a>
                            <a id="author">무빙건</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="authorContainer">
                    {% for j in 1|range:5 %}
                    <div class="contentSet">
                        <a href="#" class="contentBox">
                            <img src="{% static 'img/thumbnail.png' %}">
                        </a>
                        <div class="contentText">
                            <a id="title">유미의 세포들</a>
                            <a id="author">무빙건</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="alarm">
            <div>
                <!--작가소식-->
                <div id="notice">작가공지></div>
                <div class="alarmContainer">
                    <div id="authorInfo">
                        <img id="uploadIcon" src="https://uploads.disquscdn.com/images/dc368ebd907dfb3c40406ed0c842b10023f20651969cbd4bf77e524b3bf29ce7.jpg">
                        <span>작가님</span>
                    </div>
                    <span id="alarmItem">
                        타임스퀘어에서 팬싸합니다~
                    </span>
                </div>
                <div class="alarmContainer">
                    <div id="authorInfo">
                        <img id="uploadIcon" src="https://uploads.disquscdn.com/images/dc368ebd907dfb3c40406ed0c842b10023f20651969cbd4bf77e524b3bf29ce7.jpg">
                        <span>작가님</span>
                    </div>
                    <span id="alarmItem">
                        타임스퀘어에서 팬싸합니다~
                    </span>
                </div>
                <div class="alarmContainer">
                    <div id="authorInfo">
                        <img id="uploadIcon" src="https://uploads.disquscdn.com/images/dc368ebd907dfb3c40406ed0c842b10023f20651969cbd4bf77e524b3bf29ce7.jpg">
                        <span>작가님</span>
                    </div>
                    <span id="alarmItem">
                        타임스퀘어에서 팬싸합니다~
                    </span>
                </div>
                <div class="alarmContainer">
                    <div id="authorInfo">
                        <img id="uploadIcon" src="https://uploads.disquscdn.com/images/dc368ebd907dfb3c40406ed0c842b10023f20651969cbd4bf77e524b3bf29ce7.jpg">
                        <span>작가님</span>
                    </div>
                    <span id="alarmItem">
                        타임스퀘어에서 팬싸합니다~
                    </span>
                </div>
                <div class="alarmContainer">
                    <div id="authorInfo">
                        <img id="uploadIcon" src="https://uploads.disquscdn.com/images/dc368ebd907dfb3c40406ed0c842b10023f20651969cbd4bf77e524b3bf29ce7.jpg">
                        <span>작가님</span>
                    </div>
                    <span id="alarmItem">
                        타임스퀘어에서 팬싸합니다~
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br>
    <footer>
        <!--footer-->
        <div id="footerItem"></div>
    </footer>
</body>

</html>