{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>로그인</title>
        <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
    </head>
    <body>
        <div id="center">
            <div id="centerItem"> 
                <form>
                    <img width="150" src="{% static 'img/logo.png' %}">
                    <br><br><br><br>
                    <input class="input" type="text" placeholder="ID" name="id"><br><br>
                    <input class="input" type="password" placeholder="Password" name="password"><br><br>
                    <p id="centerItem">
                        <a id="smallText">아이디 찾기</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                        <a id="smallText">비밀번호 찾기</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                        <a id="smallText">회원가입</a>
                    </p>
                    <p id="centerItem">
                        <img src="{% static '/login/stayLogin.png' %}">
                        <a id="smallText">로그인 상태 유지</a>
                    </p>
                    <input class="button" type="submit" value="로그인">
                </form>
            </div>
            <br><br>
            <div id="centerItem">
                <p id="lightText">소셜 계정으로 로그인하기</p>
                {% load socialaccount %}
                {% load static %}
                <a href="{% provider_login_url 'google' %}">
                    <img src="{% static 'login/google.PNG' %}" alt="login_with_google" width="55">
                </a>
                <a href="{% url 'kakao' %}">
                    <img src="{% static 'login/kakao.PNG' %}" alt="login_with_kakao" width="45">
                </a>
                <a href="{% provider_login_url 'naver' %}">
                    <img src="{% static 'login/naver.PNG' %}" alt="login_with_naver" width="55">
                </a>
            </div>
        </div>
    </body>
</html>