{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/signup.css' %}">
    <title>Signup</title>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="logo">
        <img src="{% static '/signup/logo.svg' %}">
    </div>
    <!--아이디-->
    <div>
        <p class="id">
            <label>아이디</label><br>
            <input type="text" id="id" maxlength="15">
        </p><br>
        <p class="error_next_box"></p>

        <!--비밀번호 확인-->
        <p class="password">
            <label>비밀번호</label><br>
            <input type="text" id="password" maxlength="15">
        </p><br>
        <p class="password-check">
            <label>비밀번호 재확인</label><br>
            <input type="text" id="password-check" maxlength="15">
        </p><br>

        <!--이름 입력-->
        <p class="name">
            <label>이름</label><br>
            <input type="text" id="name" maxlength="15">
        </p><br>
    </div>
    <!-- 생년월일 -->
    <div id="bir_wrap">
        <p>
            <label for="yy" id="bir_main">생년월일</label><br>

            <!-- BIRTH_YY -->
            <input type="text" id="yy" class="int" maxlength="4" placeholder="년(4자)">

            <!-- BIRTH_MM -->
            <div id="bir_mm">
                <select id="mm">
                    <option>월</option>
                    <option value="01">1</option>
                    <option value="02">2</option>
                    <option value="03">3</option>
                    <option value="04">4</option>
                    <option value="05">5</option>
                    <option value="06">6</option>
                    <option value="07">7</option>
                    <option value="08">8</option>
                    <option value="09">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>

            <!-- BIRTH_DD -->
            <input type="text" id="dd" class="int" maxlength="2" placeholder="일">
        </p><br>

        <span class="error_next_box"></span>
    </div>
    <!--gender-->
    <div>
        <p class="gender">
            <label>성별</label><br>
            <select id="gender">
                <option value="female">여성</option>
                <option value="female">남성</option>
            </select>
        </p>
    </div>
    <!--email,phonenumber-->
    <div>
        <p class="email">
            <label>이메일 주소(선택)</label><br>
            <input type="text" id="email" maxlength="40" placeholder="본인 확인용">
        </p>
    </div>
    <div>
        <p class="phone">
            <label>핸드폰 번호</label><br>
            <input type="text" id="phone" maxlength="12" placeholder="숫자만 입력하세요">
            <button id="checknumber">인증하기</button>
        </p><br>
        <p class="authentication">
            <input type="text" id="authentication" maxlength="8" placeholder="인증번호를 입력하세요">
        </p>
    </div>
    <div class="signup">
        <button id="signup">가입하기</button>
    </div>


    <script src="signup.js"></script>
</body>

</html>